/* #imageContainer {
    display: flex;
    position: absolute;
}

#imageContainer img {
    max-width: 100%;
    display: none;
}

#imageContainer img:first-child {
    display: block;
}

#imageButton:hover + #imageContainer img {
    display: none; 
}

#imageButton:hover + #imageContainer img:first-child {
    display: block; 
} */
#button-container:hover #myImage {
    src: "https://buffer.com/library/content/images/2023/10/free-images.jpg";
}